@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.main {
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: #1953cb;
}
.message {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 32px;
}

.cursor {
  border-left: 0.1em solid white;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}