@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.restart {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    background-color:white;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
}

.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    align-items: center;    
}

.container{
    display: flex;
    justify-content: center;
}


